<!DOCTYPE >
<html lang="en">
  <head>
    <title>Shark Version Manager</title>
    <style>
      .container {
        padding: 8px;
      }
      .title {
        text-align: center;
      }
      .help {
        font-weight: bold;
        color: slateblue;
        font-size: 12px;
        text-decoration: underline;
        width: 200px;
      }
      .version-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
      }
      .version-list {
        cursor: pointer;
        margin: 8px 0;
        background-color: #1b6b93;
        padding: 8px;
        color: white;
        width: 200px;
        height: 100px;
        border-radius: 8px;
        font-size: 16px;
      }
      .release-container {
        margin-top: 24px;
      }
      .release-list {
        text-align: center;
      }
    </style>
  </head>

  <body style="position: relative">
    <div class="container">
      <h1 class="title">
        Shark Version Manager<br />
        <span class="help">
          <a href="/man"> Help? </a>
        </span>
      </h1>
      <div class="version-container">
        <% Object.keys(data).forEach(function (key) { if(key !== "_locals"){ %>
        <button class="version-list" onclick="showReleases('<%- key %>')">
          <div
            style="text-align: center; font-weight: bold; margin-bottom: 8px"
          >
            <%= key.toUpperCase() %>
          </div>
          <div style="text-align: center; font-weight: bold">
            <%= data[key].version %>
          </div>
          <div style="text-align: center"><%= data[key].transformDate %></div>
        </button>
        <% } }) %>
      </div>

      <div id="releases" class="version-container release-container" />
    </div>

    <script>
      function showReleases(key) {
        // abaikan error expression expected (kalau muncul)
        const data = <%- JSON.stringify(data) %>;
        if(data[key].releases){
          const container = document.createElement("div");
          container.classList.add('release-list')
          data[key].releases.forEach(rel => {
            const version = document.createElement('div')
            const date = document.createElement('div')
            const release = document.createElement('div')
            const divider = document.createElement('hr')
            version.innerText = rel.version
            release.innerText = rel.sentry
            date.innerText = rel.date
            container.appendChild(version)
            container.appendChild(release)
            container.appendChild(date)
            container.appendChild(divider)
          })

          document.getElementById("releases").replaceChildren(container);
        }
      }
    </script>
  </body>
</html>
